
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid{
    background-image: url("https://images.unsplash.com/photo-1592210454359-9043f067919b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2VhdGhlcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80");
    background-size: cover;
    overflow: hidden;
    height: auto;
}
.row{
    padding-top: 5.5rem;
    padding-bottom: 5rem;
}
.header{
    background-color:  #008ae6;
    background-size: cover;
    background-position: relative;
    color: blue;
    opacity: 0.9;
    text-align: center;
    padding: 5rem;
}
.header h1{
    font-weight: 500;
    font-size: 34px;
    color: #e4eff7;
}
.header p{
    margin-top: 1rem;
    font-weight: 600;
    font-size: 1.5rem;
    color: #e4eff7;
}
.main{
    background-color: #b3d9ff;
}
.inputs{
    padding: 6rem 0 2rem 0;
    text-align: center;
    display: flex;
    justify-content: center;
    border: none;
}
.inputs input[type="text"]{
    height: 3.5rem;
    width: 30rem;
    background-color:#fff ;
    font-weight: bold;
    font-size: 1.5rem;
    color: #000;
    border-radius: 1px;
    margin-right: 4px;
}
#cityinput{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    border-color: none;
    border: none;
}
.inputs input[type="submit"]{
    height: 3.5rem;
    width: 6.5rem;
    background-color:#e4eff7 ;
    color: #212121;
    font-weight: bold;
    border: none;
    border-radius: 2px;
}
.display{
    text-align: center;
    color:#000;
    overflow: hidden;
}
.wrapper{
    margin: 0 9rem;
    padding-top: 55px;
    width: 50%;
    background-color: #cce0ff;
    height: 60vh;
    margin: 50px auto;
    border-radius: 2px;
}
